img {
  display: inline-block;
  width: 100%
  height: 50px;
}

body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #5488A5;
  color: #fff;
}
/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Amatic SC', cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px;
 background-color: #FBE29C;
 color: #BFCAD0;
}
.nav-links a {
 color: #7554ae;
}
/* LOGO */
.logo {
  color: #7554ae;
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  color: #ef7c83;
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #fff;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
  color: #ef7c8e;
 padding: 5px 14px;
}

